:root {
  --color-brand--1: #d95252;
  --color-brand--2: #f2b077;
  --color-brand--3: #d0dbcc;

  --color-white: #fff;

  --font-heading: "Oswald", sans-serif;
  --font-sub-heading: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: var(--font-heading);
  font-weight: 300;
  line-height: 1.4;
  font-size: 1.6rem;
  color: var(--color-white);
  background-color: var(--color-brand--1);

  height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

section {
  transition: all 0.5s ease-out;
  height: 100%;

  position: absolute;
  width: 20%;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.home {
  background-color: var(--color-brand--1);
  left: 0;
}

.about {
  background-color: var(--color-brand--2);
  left: 20%;
}

.projects {
  background-color: var(--color-brand--3);
  right: 0;
}

.middle {
  left: 60%;
}

/* ------------------------------------------------ */
/* --- GENERAL --- */
.heading__primary {
  font-size: 10vmin;
  font-weight: 700;
  text-transform: uppercase;
}

.heading__primary--border {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--color-white);
  color: transparent;
  margin-right: 0.7rem;
}

.heading__primary--left {
  margin-right: 0.7rem;
}

.heading__secondary {
  font-family: var(--font-sub-heading);
  text-transform: uppercase;
  font-size: 3.2vmin;
  font-weight: 100;
}

button:focus,
button:active {
  outline: none;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
}

.btn,
.btn:link,
.btn:visited {
  font-size: 2.4vmin;
  font-family: var(--font-sub-heading);
  color: var(--color-white);

  border: 2px solid var(--color-white);
  border-radius: 5vmin;
  background-color: transparent;

  padding: 1.8vmin 4vmin;
  transition: all 0.3s;

  cursor: pointer;
}

.btn span {
  margin-left: 0.6rem;
}

.btn:hover {
  transform: scale(1.1);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  transition: all 0.3s;
}

.link {
  color: var(--color-brand--1);
}

/* ------------------------------------------------ */
/* --- NAVIGATION --- */
.navigation {
  display: none;
  position: fixed;
  z-index: 1000;
  transition: all 0.3s;
  backdrop-filter: blur(1rem);
  text-align: center;
  width: 100%;
  padding: 2.5rem 0;
  font-family: var(--font-sub-heading);
  text-transform: uppercase;
  font-weight: 400;
}

.navigation li {
  display: inline-block;
}

.navigation li:not(:last-of-type) {
  margin-right: 2rem;
}

.navigation .link {
  color: var(--color-white);
}

/* ------------------------------------------------ */
/* --- HOME --- */
.btn__learn-more {
  margin-top: 6vmin;
}

.social {
  position: absolute;
  bottom: 5rem;
}

.social li {
  display: inline-block;
}

.social li:not(:last-of-type) {
  margin-right: 0.9rem;
}

.social a {
  color: var(--color-white);
  font-size: 4vmin;
}

.social li:hover {
  transform: scale(1.2);
}

/* ------------------------------------------------ */
/* --- ABOUT / PROJECTS --- */
.projects__content,
.about__content {
  min-width: 70%;
}

.projects__items,
.about__items {
  font-family: var(--font-sub-heading);
  font-weight: 400;
  margin-top: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects__items li,
.about__items li {
  padding: 0.5rem 1rem;
  border-bottom: 0.1rem dotted var(--color-white);
  width: 90%;
  font-size: 2.2vmin;
}

.projects__items span,
.about__items span {
  float: right;
}

.projects__items li:not(:last-of-type),
.about__items li:not(:last-of-type) {
  margin-bottom: 1.5vmin;
}

.projects__items li:hover,
.about__items li:hover {
  width: 100%;
}

.projects__items span a,
.about__items span a {
  color: var(--color-white);
}

.projects__items span,
.about__items span {
  margin-left: 0.6rem;
}

/* ------------------------------------------------ */
/* --- ABOUT --- */
.about__items span a {
  font-weight: 700;
}

/* ------------------------------------------------ */
/* --- PROJECTS --- */

.projects__items span a:not(:last-of-type) {
  margin-right: 1rem;
}

.projects__items span i {
  transition: all 0.3s;
  transform: scale(1.1);
}

.projects__items span i:hover {
  transform: scale(1.4);
}

/* ------------------------------------------------ */
/* --- ACTIVE --- */
.heading__primary {
  transform: rotate(-90deg);
  transition: all 0.5s;
}

.section--active .heading__primary {
  transform: rotate(0deg);
}

.section--active {
  width: 60%;
}

.content {
  display: none;
  opacity: 0;
  transition-delay: 0.2s;
}

.section--active .content {
  display: block;
  opacity: 1;
}

.pointer-event {
  pointer-events: none;
}

.btn__learn-more span {
  transition: all 0.3s;
}

.btn__learn-more--sm-screen {
  display: none;
}

.social {
  display: none;
}

.section--active .social {
  display: block;
}

/* ------------------------------------------------ */
/* --- MEDIA QUERIES --- */
@media only screen and (max-width: 760px) {
  .projects__items li,
  .about__items li {
    width: 100%;
  }
}

@media only screen and (max-width: 610px) {
  body {
    height: fit-content;
    overflow: visible;
    overflow-x: hidden;
  }

  section {
    position: relative;
    width: 100%;
    height: 100vh;
    flex-direction: column;
  }

  .navigation {
    display: block;
  }

  .section--active {
    width: 100%;
  }

  .home,
  .about,
  .projects,
  .middle {
    left: 0;
  }

  .heading__primary {
    transform: rotate(0);
  }

  .projects__items li,
  .about__items li {
    font-size: 1.3rem;
  }

  .content {
    display: block;
    opacity: 1;
  }

  .btn__learn-more--bg-screen {
    display: none;
  }

  .btn__learn-more--sm-screen {
    display: block;
  }

  .social {
    display: block;
  }

  .social a {
    font-size: 2.2rem;
  }
}
